{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Current listing</h2>
    <br>
    <h4>{{ name }} listed by {{ owner }} on {{ creation }}</h4>
    <h4>Current bid is {{ bid }}</h4>
    <hr>
    <h2>Description</h2>
    <br>

    {{ description }}

    {% if image %}
        <img src={{ image }}>
    {% else %}
        <img src="../static/auctions/noimg.jpg">                  
    {% endif %}

    <hr>

{% if is_active == True %}

    {% if user.is_authenticated %}
        
        {% if user == owner %}
            <form method="post" action="{% url 'end_listing' id %}">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="End listing">
            </form>

        {% elif watched == False %}
            <form method="post" action="{% url 'watchlist_add' id %}">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Add to watchlist" name="watchlist_add">
            </form>
    
        {% else %}
            <form method="post" action="{% url 'watchlist_remove' id %}">
                {% csrf_token %}
                <input class="btn btn-primary" type="submit" value="Remove from watchlist" name="watchlist_remove">
            </form>
        {% endif %}

        {% if user != owner %}
        
        <hr>

        <form class="form-inline" method="post" action="{% url 'bid' id%}">
            {% csrf_token %}
            <input class="form-control col-sm-1" type="number" step="0.01" name="bid">
            <input class="btn btn-primary" type="submit" value="Place bid">
        </form>
        {% endif %}

        <hr>

        <form class="form-inline" method="post" action="{% url 'post_comment' id %}">
            {% csrf_token %}
            <input class="form-control col-md-6" type="texarea"  name="comment">
            <input class="btn btn-primary" type="submit" value="Submit comment">
        </form>
    
    {% endif %}

    {% else %}

    {% if won == True%}
    <h4>You have won this listing for {{ bid }}</h4>
    {% endif %}
{% endif %}
    
    <hr>
    <ul>
    {% for comment in comments %}
    <li><h5>{{ comment }}</li></h5>
    {% endfor %}
{% endblock %}